<mat-card class="example-card ">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" ></div>
    <mat-card-title>PolyScripts</mat-card-title>
    <mat-card-subtitle>IT Consulting</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/img/IT-Consulting-scaled.jpeg" >
  <mat-card-content>
    <p>
      <b>Contact Manager Application</b> is an application to manage contact in several company,
      built with spring boot and angular.
    </p>
  </mat-card-content>
</mat-card>
